$ColorText:rgb(250, 47, 181);
$colorBgr:#001D6E;
$colorBorder:rgb(49, 8, 123);
$colorHover:rgb(255, 194, 60);

$font1:'Josefin Sans', sans-serif;
$font2:'Dancing Script', cursive;
$font3: 'Lobster', cursive;
$font4:'verdana';