$ColorText:rgb(250, 47, 181);
$colorBgr:#001D6E;
$colorBorder:rgb(49, 8, 123);
$colorHover:rgb(255, 194, 60);

$font1b:'Josefin Sans', sans-serif;
$font2b:'Dancing Script', cursive;
$font3b: 'Lobster', cursive;
$font4b:'verdana';