@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Open+Sans:ital,wght@0,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    min-height: 100%;
}
body{overflow-x: hidden;}
body::-webkit-scrollbar{width: 10px;}
body::-webkit-scrollbar-thumb{
        background:linear-gradient(45deg,#001D6E,rgb(250, 47, 181));
        border-radius: 20px;
    }
.permanentNav{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: $colorBgr;
}
header{
    background-color: $colorBgr;
    text-align: center;
    height: auto;
    width: 100%;
    nav{
        display: flex;
        text-align: center;
        justify-content: space-around;
        justify-items: center;
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 12px ;
                padding: 10px;
               a{
                text-decoration: none;
                font-family: $font2b;
                font-weight: 900;
                font-size: 1.8em;
                color: $ColorText;
                
                border: 3px ;
                border-radius: 10px ;
                transition: all .3s ease-in-out;
               }
            }
            :hover{
                color:$colorHover;
            }
        }
    }
}
main{
    transition: all 5s ease-in-out;
    margin: 0 10em;
        #title_tus{
            h1{
             font-family:$font2b;
             font-weight: 900;
             font-size: 4.5em;
             color: $colorBgr;
         }
           text-align: center;
          
         }
}